html {
	background-color: #2e2e2e;
	min-height: 100%;
}

body {
	background-color: #2e2e2e;
	font-size: 1em;
	min-height: 100vh;
}

.header h1 {
	color: #ff6600;
	font-family: 'Lobster', cursive;
	text-shadow: 3px 3px #FFF;
	font-size: 8em;
}

.header h4, button, a, a:link, a:visited, a:hover {
	color: #FFF;
	font-family: 'Fjalla One', sans-serif;
}

.results {
	margin-top: 20px;
}

input {
	font-family: 'Fjalla One', sans-serif;
}

button:active {
	color: red;
}